/* assets/css/style.css */
p.social-links {
  text-align: center;
  margin-top: 0.75rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

p.social-links a {
  text-decoration: none;
  margin: 0 0.35rem;
}

p.social-links a:hover {
  text-decoration: underline;
}
